*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.container {
  background-color: darkslategrey;
  padding: 2rem;
}

.form-wrapper {
  background: #f5f7f8;
  padding: 40px 60px;
  max-width: 600px;
  margin: auto;
}

.form-wrapper h1 {
  text-align: center;
  margin-bottom: 30px;
}

.input-group {
  padding: 20px 15px;
  margin: 30px 0;
  border: none;
  width: 100%;
  outline: none;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1.4rem;
}

.input-group:focus {
  border: 2px solid darkslategrey;
}

label {
  font-weight: 300;
  font-size: 1.4rem;
}

.lead {
  margin: 40px;
  font-size: 1.4rem;
  text-align: center;
}

.btn {
  display: block;
  outline: none;
  border: none;
  width: 100%;
  background-color: darkslategrey;
  color: #f5f7f8;
  padding: 20px 15px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all .75s;

}

.btn:hover {
  background-color: rgb(39, 185, 185);
}